{% extends 'base.html.twig' %}

{% block title %}Videos
{% endblock %}

{% block body %}
	<form method="get" action="{{ path('home') }}" class="mb-4 search">
		<div class="flex justify-center items-center">
			<input id="search-input" type="text" name="keyword" class="form-input py-2 px-4 border border-gray-400 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 block w-3/2 sm:text-sm border-gray-300 rounded-md" placeholder="Search..." value="{{keyword}}"/>
		</div>
	</form>

	{% if noResults %}
		<p>No results found: "{{keyword}}"</p>

	{% else %}
		{% for video in videos %}
			<div class="video">
				<label>
					<input type="radio" name="selectedVideo" value="{{ video.videoId }}" />
					<img src="{{ video.thumbnail }}" alt="{{ video.title }}"/>
					<h6>{{ video.title }}</h6>
					<p>Published Date: {{ video.publishedAt|date('Y-m-d') }}</p>
					<p>ID: {{ video.videoId }}</p>
					<p>Duration: {{video.duration}}</p>
				</label>
			</div>
			<a href="{{ path('video_detail', {'videoId': video.videoId}) }}" class="next-btn" data-video-id="{{ video.videoId }}">Next</a>
		{% endfor %}
	{% endif %}
{% endblock %}

